*.cmake linguist-detectable=false
*.html linguist-detectable=false
*.cpp linguist-detectable=false
*.cc linguist-detectable=false
*.txt linguist-detectable=false
*.h linguist-detectable=false
ios/* linguist-vendored
android/* linguist-vendored
macos/* linguist-vendored
build/* linguist-vendored
